body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
h1{
    color: blue;
    text-align: center;
}
p{
    font: 10px;
    line-height: 1.5;
}

.main-heading{
    background-color: grey;
}

#paragragh-2{
    color: red;
}
.first paragraph{
    font-size: 40px;
}

